-- MySQL dump 10.13  Distrib 8.3.0, for Win64 (x86_64)
--
-- Host: bj-cynosdbmysql-grp-28gkdtyo.sql.tencentcdb.com    Database: Train
-- ------------------------------------------------------
-- Server version	8.0.22-cynos

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `passengers`
--

DROP TABLE IF EXISTS `passengers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passengers` (
  `name` varchar(50) DEFAULT NULL,
  `identification` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `userId` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passengers`
--

LOCK TABLES `passengers` WRITE;
/*!40000 ALTER TABLE `passengers` DISABLE KEYS */;
/*!40000 ALTER TABLE `passengers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stations`
--

DROP TABLE IF EXISTS `stations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stations` (
  `stationName` varchar(50) DEFAULT NULL,
  `cityName` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stations`
--

LOCK TABLES `stations` WRITE;
/*!40000 ALTER TABLE `stations` DISABLE KEYS */;
/*!40000 ALTER TABLE `stations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stopovers`
--

DROP TABLE IF EXISTS `stopovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stopovers` (
  `stationId` int DEFAULT NULL,
  `stationName` varchar(50) DEFAULT NULL,
  `arriveTime` varchar(50) DEFAULT NULL,
  `leaveTime` varchar(50) DEFAULT NULL,
  `duration` varchar(50) DEFAULT NULL,
  `trainId` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stopovers`
--

LOCK TABLES `stopovers` WRITE;
/*!40000 ALTER TABLE `stopovers` DISABLE KEYS */;
INSERT INTO `stopovers` VALUES (1,'涓婃捣铏规ˉ','','08:00:00','21:55:03','G6'),(2,'鍗椾含鍗?,'09:00:00','09:02:00','00:02:00','G6'),(3,'娴庡崡瑗?,'10:59:00','11:01:00','00:02:00','G6'),(4,'鍖椾含鍗?,'12:24:00','12:24:00','','G6'),(1,'涓婃捣','','21:15:00','','D6'),(2,'鏃犻敗','22:23:00','22:26:00','00:03:00','D6'),(3,'鍗椾含','23:50:00','23:56:00','00:06:00','D6'),(4,'澶╂触瑗?,'08:07:00','08:10:00','00:03:00','D6'),(5,'鍖椾含','09:26:00','09:26:00','','D6');
/*!40000 ALTER TABLE `stopovers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainorders`
--

DROP TABLE IF EXISTS `trainorders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trainorders` (
  `oid` double DEFAULT NULL,
  `trainId` varchar(50) DEFAULT NULL,
  `trainDate` varchar(50) DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `identification` varchar(50) DEFAULT NULL,
  `seatType` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainorders`
--

LOCK TABLES `trainorders` WRITE;
/*!40000 ALTER TABLE `trainorders` DISABLE KEYS */;
/*!40000 ALTER TABLE `trainorders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trains`
--

DROP TABLE IF EXISTS `trains`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trains` (
  `trainId` varchar(50) DEFAULT NULL,
  `date` varchar(50) DEFAULT NULL,
  `startStation` varchar(50) DEFAULT NULL,
  `arrivalStation` varchar(50) DEFAULT NULL,
  `startTime` varchar(50) DEFAULT NULL,
  `arrivalTime` varchar(50) DEFAULT NULL,
  `duration` varchar(50) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `businessSeatSurplus` int DEFAULT NULL,
  `businessSeatPrice` double DEFAULT NULL,
  `firstClassSeatSurplus` int DEFAULT NULL,
  `firstClassSeatPrice` double DEFAULT NULL,
  `secondClassSeatSurplus` int DEFAULT NULL,
  `secondClassSeatPrice` double DEFAULT NULL,
  `softSleeperSurplus` int DEFAULT NULL,
  `softSleeperPrice` double DEFAULT NULL,
  `hardSleeperSurplus` int DEFAULT NULL,
  `hardSleeperPrice` double DEFAULT NULL,
  `hardSeatSurplus` int DEFAULT NULL,
  `hardSeatPrice` double DEFAULT NULL,
  `haveCanceled` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trains`
--

LOCK TABLES `trains` WRITE;
/*!40000 ALTER TABLE `trains` DISABLE KEYS */;
/*!40000 ALTER TABLE `trains` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-08-26 10:26:55
